body,
#title,
#title span,
#title-pic {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #333;
}

#title {
    position: absolute;
    top: 0;
    left: 1%;
    right: 1%;
    width: 100%;
    height: 6%;
    border-bottom: 1px solid rgb(36, 35, 35);
}

#title span {
    position: absolute;
    left: 3%;
    display: block;
    color:rgb(235, 195, 187);
    letter-spacing: 3px;
    font-size: 28px;
}

#title-pic {
    position: absolute;
    right: 3%;
    color: #3ea3b3;
}

#title-pic i {
    padding-left: 20px;
}

#main {
    padding: 0;
    margin: 1%;
}

#op1 {
    position: fixed;
    top: 46px;
    height: 60px;
    width: 340px;
    color:rgb(235, 195, 187);
}

#op1 span {
    margin: 7px 0 6px 5px;
}

#op1-main {
    margin: 8px 0 8px 0;
    font-family: "Consolas, 'Courier New', monospace";
}

#op1-main span {
    border: 1px solid #e6362c;
    font-size: 37px;
    padding: 0 8px 0 8px;
    margin: 3px 0 2px 3px;
    text-align: center;
}

#op1-bottom {
    font-size: 7px;
    margin: 8px 0 8px 4px;
}

#op1-bottom span {
    color: #8dc1a9;
    padding: 0 8px 5px 5px;
}

.fa-long-arrow-up {
    color: #eedd78;
    margin-left: 14px;
}

#op2 {
    top: 146px;
    left: 14px;
    border: 1px solid rgb(36, 35, 35);
}

#op3 {
    position: fixed;
    top: 350px;
    border: 1px solid rgb(36, 35, 35);
}

#op4 {
    position: fixed;
    top: 460px;
    border: 1px solid rgb(36, 35, 35);
}

#map {
    position: fixed;
    left: 371px;
    top: 53px;
    padding: 9px;
    border: 1px solid rgb(36, 35, 35);
}

#map h3 {
    width: 100%;
    height: 3%;
    position: absolute;
    z-index: 55;
    top:3%;
}

#op5 {
    position: fixed;
    left: 371px;
    bottom: 8px;
    border: 1px solid rgb(36, 35, 35);
}
#op6 {
    position: fixed;
    left: 703px;
    bottom: 8px;
    border: 1px solid rgb(36, 35, 35);
}

#op7 {
    /* position: fixed; */
    left: 1040px;
    top: 266px;
    border: 1px solid rgb(36, 35, 35);
}
#op9 {
    position: fixed;
    left: 1040px;
    top: -318px;
    border: 1px solid rgb(36, 35, 35);
}

#op8 {
    position: fixed;
    left: 1040px;
    bottom: 194px;
    border: 1px solid rgb(36, 35, 35);
}